.category .container::-webkit-scrollbar {
width: 0;
display: none;
}

.category::-webkit-scrollbar-track {
box-shadow: transparent;
height: 0;
background-color: red;
}

.category::-webkit-scrollbar-thumb {
background-color: transparent;
outline: 0px solid transparent;
}
