.showCards .container .cards {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 

}

/* width */
.showCards .container .cards::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
.showCards .container .cards::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.showCards .container .cards::-webkit-scrollbar-thumb {
  background: #993b3b;

}

/* Handle on hover */
.showCards .container .cards::-webkit-scrollbar-thumb:hover {
  background: #d34343;
}